<div class="cotnainer ml-3">
  <br>
  <div class="row ml-10">
    <div class="col-6">
      <div class="list-group ">
        <!-- Recor tot el array d'usuaris i el mostra per pantalla i al event (Click) seleccionem un usuari que es del que pasarem les dades al detall-->
        <a *ngFor="let usuari of usuaris" class="list-group-item list-group-item-action text-center" [ngClass]="{ 'active': usuariSeleccionat === usuari }" (click)="seleccionarUsuari(usuari)">{{usuari.nom}} {{usuari.cognom}}</a>
        
      </div>
      <br>
      <button class="btn btn-primary" (click)="cambiarAccio('registrar')">Registrar</button>

      <div *ngIf="categoria === 'registrar'" class="row" style="margin-top: 1em;">
        <!--modificat a posteriori, afegit (registrar)***************************-->
      <app-registre (registrar)="addRegistre($event)"></app-registre></div>
    </div>

    <div class="col-6">
      <!-- anem a la pagina de detal d'usuari de l'usuari seleccionat -->
      <app-detall [usuari]="usuariSeleccionat"></app-detall>
    </div>
  </div>
</div>
