<br>
<br>
<div class="container">
    <!--formulari recollida de dades-->
    <form [formGroup]="user">

      <!--camp nom-->
        <div class="form-row">
          <div class="formg-group col-md-6">
            <label class="control-label">Nom d'usuari</label>
            <input type="text" formControlName="nom" placeholder="Nom" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nom.errors}">

            <!--la f. ve del ts, si es compleixen les dues condicions es true-->

            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">El nom és obligatori</div>
            </div>
          </div>
        </div>
        <br>

      <!--camp cognom-->
        <div class="form-row">
          <div class="formg-group col-md-6">
            <label class="control-label">Cognoms d'usuari</label>
            <input type="text" formControlSurname="cognom" placeholder="Cognoms" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.cognom.errors}">

            <div *ngIf="submitted && f.cognom.errors" class="invalid-feedback">
                <div *ngIf="f.cognom.errors.required">El cognom és obligatori</div>
            </div>
          </div>
        </div>
        <br>

      <!--camp edat-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="control-label">Edat</label>
            <input type="number" formControlAge="edat" placeholder="Màxim 2 dígits" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.edat.errors}">

            <div *ngIf="submitted && f.edat.errors" class="invalid-feedback">
                <div *ngIf="f.edat.errors.required">Camp obligatori</div>
            </div>
          </div>
        </div>

      <!--camp adjuntar foto-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="control-label">Adjunta la teva foto</label>
            <input type="file" formControlFile="foto" class="form-control"
            [ngClass]="{'is-invalid': submitted && f.foto.errors}">

            <div *ngIf="submitted && f.foto.errors" class="invalid-feedback">
              <div *ngIf="f.foto.errors.required">Camp obligatori</div>
            </div>
          </div>
        </div>

      <!--camp descripció-->
      <div class="form-row">
        <div class="form-group col-md-2 mb-9">
          <label class="control-label">Descripció</label>
          <textarea class="form-control" rows="3" formControlDescription="descripcio" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.descripcio.errors}"></textarea>

          <div *ngIf="submitted && f.descripcio.errors" class="invalid-feedback">
            <div *ngIf="f.descripcio.errors.required">Camp obligatori</div>
          </div>
        </div>
      </div>

      <!--camp email-->
      <div class="form-row">
        <div class="form-group col-md-6">
            <label class="control-label">Email</label>
            <input type="email" formControlEmail="email" placeholder="correu@exemple.com"  class="form-control"
            [ngClass]="{'is-invalid': submitted && f.email.errors}">

            <div *ngIf="submitted && f.email.errors" class="invalid_feedback">
                <div *ngIf="f.email.errors.required">L'email és obligatori</div>
               <div *ngIf="f.email.errors.email">L'email no és vàlid</div>
           </div>
        </div>
      </div>

      <!--camp contrasenya i confirmar contrasenya-->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label clas="contro-label">Contrasenya</label>
          <input type="pasword" class="form-control" id="inputPasword" placeholder="Contrasenya">
        </div>
        <div class="form-group col-md-9">
          <button type="submit" class="btn btn-secondary">Confirma la contrasenya</button>
        </div>
      </div>

      <br><br>
      <!--botó-->
        <div class="form-group">
            <button class="btn btn-primary" (click)="enviarDades()">Enviar</button>
        </div>
    </form>
</div>

