<div *ngIf="usuario !== null" class="card" style="width: 18rem;">

  <div class="card-body">
    <img [src]="usuario.imatge" class="card-img-top" alt="">

    <h5 class="card-title">{{usuario.nom}} {{usuario.cognom}}</h5>
    <form>

      <div class="card-body">
        <p class="card-text">Edat: {{usuario.edat}}</p>
      </div>

      <div class="card-body">
        <p class="card-text">Descripció: {{usuario.descripcio}}</p>
      </div>

      <div class="card-body">
        <p class="card-text">Correu: {{usuario.correu}}</p>
      </div>

      <div class="card-body">
        <p class="card-text">Contrasenya: {{usuario.contrasenya}}</p>
      </div>

      <div class="card-body">
        <p class="card-text">Confirmar contrasenya: {{usuario.confirmarContrasenya}}</p>
      </div>

    </form>

    <button type="button" class="btn btn-danger" (click)="deleteUsuario()">Eliminar</button>
  </div>

</div>
