<div class="cotnainer ml-3">
  <div class="row ml-10">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <div class="list-group ">
        <!-- Recor tot el array d'usuaris i printa-->

        <a *ngFor="let usuari of users" class="list-group-item list-group-item-action text-center" [ngClass]="{ 'active': userSeleccionat === usuari }" (click)="seleccionarUser(usuari)">{{usuari.nom}} {{usuari.cognom}} <button type="button" class="btn btn-danger" (click)="deleteUsuario()">Delete</button> </a>

      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <!-- guarda el usuari seleccionat dins del guardarUsuari -->
      <app-detall [usuari]="userSeleccionat"></app-detall>

      <!-- boto per eliminar el perfil de l'usuari -->

    </div>
  </div>
</div>
